In [1]:
import sklearn
print(sklearn.__version__)

1.8.0

In [ ]:
import pandas as pd   # 분산, 표준편차 
import numpy as np  # 모분산, 모 표준편차

In [ ]:
data = [1,2,3,4, 5]
print("모표준편차", np.std(data, ddof=0))   #std  모표준편차
print("표본표준편차", np.std(data, ddof=1))   #std  

data_df = pd.DataFrame(data)
print("표본표준편차",data_df.std(ddof=1))   # 표본표준편차  일반적으로 많이 쓰임
print("모표준편차",data_df.std(ddof=0))  #std    델타자유도=ddof   보고시 명확히 해야할 필요가 있음

모표준편차 1.4142135623730951
표본표준편차 1.5811388300841898
표본표준편차 0    1.581139
dtype: float64
모표준편차 0    1.414214
dtype: float64

In [ ]:
import seaborn as sns
iris = sns.load_dataset("iris")
type(iris)
iris.describe(include="all")  # 숫자가아닌 부분까지 통계화 유니크..

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [14]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [16]:
iris.iloc[:, :-1].corr()

              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000